* {
  margin: 0px;
  padding: 0px;


}

.hidden_overlay{
  overflow-x: hidden;
}
:root {
  /* Typography */
  --font-heading: 'Poppins', sans-serif;
  --font-body: "Open Sans", sans-serif;
  --font-size-base: 16px;
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 2rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Colors */
  --color-primary: #00B5D8;
  --color-accent: #00D28F;
  --color-gradient: linear-gradient(90deg, #00B5D8 0%, #00D28F 100%);
  --color-dark: #1F2937;
  --color-light: #F9FAFB;
  --color-gray: #6B7280;
  --color-white: #ffffff;
  --color-black: #333333;

}

.animated-heading {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
}

.animated-heading span {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
}

.animated-heading span:nth-child(1) {
  animation-delay: 0s;
}

.animated-heading span:nth-child(2) {
  animation-delay: 0.2s;
}

.animated-heading span:nth-child(3) {
  animation-delay: 0.4s;
}

.animated-heading span:nth-child(4) {
  animation-delay: 0.6s;
}

.animated-heading span:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-link {
      font-family: var(--font-heading);
      font-weight: 400;
      font-size: 14px;
      color: #333;
      padding: 8px 4px;
      transition: color 0.3s ease;
    }

    .navbar {
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      transition: all 0.3s ease;
    }

    .navbar.scrolled {
      background-color: #ffffff !important;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .dropdown-menu {
      border-radius: 12px;
      padding: 12px 0;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
      border: none;
      background-color: #fff;
      transition: all 0.3s ease;
      min-width: 250px;
        columns: 2;
  column-gap: 1rem;
    }

    .dropdown-item {
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 400;
      color: #333;
      transition: background 0.3s, color 0.3s;
    }

    .dropdown-item:hover {
      background-color: #f0f9ff;
      border-left: 3px solid #0d6efd;
      background-image: linear-gradient(90deg, #1DA1F2 0%, #00C18C 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }


    @media (min-width: 992px) {
      .navbar .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        animation: dropdownFade 0.3s ease-in-out;
      }

      .navbar .dropdown-toggle::after {
        transition: transform 0.3s ease;
      }

      .navbar .dropdown:hover .dropdown-toggle::after {
        transform: rotate(180deg);
      }
    }

    @keyframes dropdownFade {
      0% {
        opacity: 0;
        transform: translateY(10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .offcanvas .nav-link {
      font-size: 14px;
      padding: 10px 0;
    }

/* Offcanvas mobile */
.offcanvas {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(12px);
}

.dropdown-menu {
  background-color: #fff;
}

h1 {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 2%;
}

p {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  line-height: 28px;


}
h5{
  font-size: 16px;
  margin-top: 20px;
}

.step-text {
  font-size: 24px;
  fill: #333;
  font-family: 'Segoe UI', sans-serif;
}

.py-80 {
  padding-bottom: 80px;
  padding-top: 80px;
}

.py-100 {
  padding: 100px 0px;
}

.btn-info {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #1DA1F2 0%, #00C18C 100%);

  padding: 14px 50px;
  color: #fff;
  font-family: var(--font-body);
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 5px 15px rgba(0, 210, 143, 0.3);
}

.logo_color {
  background: linear-gradient(90deg, #1DA1F2 0%, #00C18C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;

}.gradient-icon {
    background: linear-gradient(90deg, #1DA1F2 0%, #00C18C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

.client-logo {
  max-height: 60px;
  object-fit: contain;
  width: auto;
  margin: 0 auto;
  display: block;
}


.btn-info:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 210, 143, 0.5);
  color: #fff;
}

/* Glowing ripple effect on hover */
.btn-info::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease, height 0.4s ease;
}

.btn-info:hover::before {
  width: 200%;
  height: 500%;
}

h2 {
  font-family: var(--font-body);
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
  color: var(--color-black);
  letter-spacing: 2%;

}

h6 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;

}

.frosted-card {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}

.icon-box {
  width: 80px;
  height: 80px;
  background: #f4f4f4;
  border-radius: 8px;
}

.ready_box {
  width: 80%;
}

.blur-card {
  background: rgba(255, 255, 255, 0.6);
  /* semi-transparent */
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: 16px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%;
}


.blur-card:hover {
  transform: scale(1.03);
}


.testimonial-carousel {
  padding: 60px 20px;
  text-align: center;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: 12px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.08);
  padding: 40px 30px;
  margin: auto;
  max-width: 90%;
}

.testimonial-quote {
  font-size: 28px;
  color: #000;
}

.testimonial-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #333;
  margin: 20px auto;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.testimonial-text {
  color: #333;
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.testimonial-author {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat";

}

.cta-section {
  padding: 80px 20px;
  background-color: #ffffff;
  text-align: center;
}

.cta-title {

  color: #3498DB;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.cta-subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
}

.cta-btn {
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 15px;
  border: 2px solid #007bff;
  color: #fff;
  background-color: #007bff;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.footer-link {
  font-size: 16px;
  text-decoration: none;
  color: #F9FAFB;

}

.list-unstyled li {
  margin-top: 8px !important;
}

.social-icon svg {
  transition: transform 0.3s ease;
}

.social-icon:hover svg {
  transform: scale(1.1);
  fill: #ffcc00;
  /* or any color you prefer on hover */
}

.custom-btn {
  padding: 10px 20px;
  color: #00B5D8;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #00B5D8, #00D28F) border-box;
  border: 2px solid transparent;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
  background: linear-gradient(90deg, #00B5D8, #00D28F);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 178, 144, 0.4);
}

footer h6 {
  font-size: 18px;
}

h6{
  font-size: 20px;
}

/* aboutus */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 60vh;
  background-image: url('/Assets/images/aboutbanner.jpg');
  /* Replace with your image URL */

background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18%;

}

.text-box {
  position: relative;
  z-index: 1;
  text-align: center;


}

.blur-box {


  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-box:hover {
  backdrop-filter: blur(5px);
  filter: blur(1px);

  transform: scale(1.05);
  cursor: pointer;
}



.border-box {
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.border-box:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  cursor: pointer;
}


/* contact css */


.Column_Form{
   padding: 30px;
  background: rgba(255, 255, 255, 0.2); /* transparent white */
  backdrop-filter: blur(10px);          /* blur effect */
  -webkit-backdrop-filter: blur(10px);  /* for Safari */
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3); /* optional border */
}
.form-control , .form-select{
  padding: 14px 14px ;
}



 /* Modal CSS */
  #success-toggle {
    display: none;
  }

  .success-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
  }

  #success-toggle:checked + .success-modal {
    display: flex;
  }

  .success-content {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    text-align: center;
    animation: popupFadeIn 0.4s ease;
  }

  @keyframes popupFadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .success-check {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
  }

  .success-check circle {
    fill: #2ecc71;
  }

  .success-check path {
    stroke: white;
    stroke-width: 6;
    fill: none;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: draw 1s forwards;
    animation-delay: 0.3s;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
.gradient-btn {
  background: linear-gradient(90deg, #1DA1F2 0%, #00C18C 100%);
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.gradient-btn:hover {
  opacity: 0.9;
}
.close-btn {
    margin-top: 20px;
    background: linear-gradient(90deg, #1DA1F2 0%, #00C18C 100%);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }


/* what we do */

.static_banner {
  background-image: url('/Assets/images/static.png');
  background-repeat: no-repeat;
  background-position: center;

  height: 80vh;
  width: 100%;
}
.seo_banner{
  
  height: 60vh;
  width: 100%;
}
.Marketing_banner{
    height: 60vh;
  width: 100%;
}
.contact_banner{
    height: 60vh;
  width: 100%;
}
.great_types li{
  font-size: 16px; 
  font-family: var(--font-heading);
  color: #333333;
  font-weight: 400;
  padding: 8px 0px;
}

  .what-you-gain h2 {
  font-size: 2rem;
}

.gain-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px !important;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  height: 100%;
}
.gain-box img {
  height: 80px;         /* Adjust as needed */
  width: auto;          /* Keeps image aspect ratio */
  object-fit: contain;  /* Ensures image fits nicely within its box */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

